.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem;
    align-content: center;
}

.navbar-brand {
    font-size: x-large;    
    font-weight: bolder;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
}

.navbar-link {
    font-size: large;
    text-decoration: none;
}
